@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

body {
    background-color: #000000;
    color: #FFFFFF;
}

p {
    color: #FFFFFF65;
}

h1 {
    text-align: center;
}

nav {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding: 32px;
    border-bottom: 1px solid #FFFFFF25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
} ul {
    display: flex;
    /* background-color: blue; */
    width: fit-content;
    /* padding: 12px; */
    margin: 0;
    padding: 0;
} li {
    list-style: none;
} a {
    text-decoration: none;
    color: #FFFFFF75;
    margin-left: 12px;
    margin-right: 12px;
}

.hero {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 128px;
} .alert {
    display: flex;
    justify-content: center;
} .alert .message {
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #FFFFFF25;
    width: fit-content;
    border-radius: 100px;
} .hero h1 {
    text-align: center;
    font-size: 96px;
    line-height: 96px;
    margin-top: 12px;
    margin-bottom: 12px;
} .hero p {
    text-align: center;
} .hero .button {
    display: flex;
    justify-content: center;
    margin-top: 12px;
} .hero .button .left {
    padding: 24px;
    border-radius: 12px;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #FFFFFF25;
    margin: 3px;
} .hero .button .right {
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #FFFFFF25;
    margin: 3px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .hero {
        padding-left: 16px;
        padding-right: 16px;
    } .hero h1 {
        text-align: center;
        font-size: 32px;
        line-height: 32px;
    } 
}

/* Media query for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .hero {
        padding-left: 32px;
        padding-right: 32px;
    } .hero h1 {
        text-align: center;
        font-size: 64px;
        line-height: 64px;
    } 
}

/* Media query for screens larger than 992px */
@media (min-width: 992px) {
    .hero {
        padding-left: 128px;
        padding-right: 128px;
    } .hero h1 {
        text-align: center;
        font-size: 96px;
        line-height: 96px;
    } 
}

.features .features-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .features-card .card {
    width: 300px;
    padding: 12px;
    border: 1px solid #FFFFFF25;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .features .features-card .card {
        width: 400px;
        padding: 12px;
        border: 1px solid #FFFFFF25;
        border-radius: 16px;
        margin-bottom: 12px;
    }
}

/* Media query for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .features .features-card .card {
        width: 600px;
        padding: 12px;
        border: 1px solid #FFFFFF25;
        border-radius: 16px;
        margin-bottom: 12px;
    }
}

/* Media query for screens larger than 992px */
@media (min-width: 992px) {
    .features .features-card .card {
        width: 500px;
        padding: 12px;
        border: 1px solid #FFFFFF25;
        border-radius: 16px;
        margin-bottom: 12px;
    }
}

.tech .tech-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech .tech-card .card {
    width: 300px;
    padding: 12px;
    border: 1px solid #FFFFFF25;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}

.tech .tech-card .card p {
    text-align: left;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .tech .tech-card .card {
        width: 400px;
        padding: 12px;
        border: 1px solid #FFFFFF25;
        border-radius: 16px;
        margin-bottom: 12px;
    }
}

/* Media query for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .tech .tech-card .card {
        width: 300px;
        padding: 12px;
        border: 1px solid #FFFFFF25;
        border-radius: 16px;
        margin-bottom: 12px;
    }
}

/* Media query for screens larger than 992px */
@media (min-width: 992px) {
    .tech .tech-card .card {
        width: 300px;
        padding: 12px;
        border: 1px solid #FFFFFF25;
        border-radius: 16px;
        margin-bottom: 12px;
    }
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 1px solid #FFFFFF50;
} footer .content {
    width: 200px;
    margin-left: 12px;
    margin-right: 12px;
}

@media (max-width: 767px) {
    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 64px;
        padding-top: 64px;
        padding-bottom: 64px;
    } footer .content {
        width: 300px;
        margin-left: 12px;
        margin-right: 12px;
    }
}